.item-list-container h2 {
    width: 100%;
    text-align: center;
    margin: 2rem;
}

.btn-div {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.btn-btn {
    padding: 0.5rem 1.5rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-btn:hover {
    opacity: 0.8;
}

.ok-buy {
    background-color: #28a745;
    
}

.ok-clear {
    background-color: #dc3545;
}

.span-1 {
    color: black;
    gap: 2rem;
    display: flex;
    justify-content: center;
}

.total-pagar {
    width: 100%;
    text-align: center;
    color: #666666;
}