.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
  padding: 0.5rem;
  gap: 0.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  max-width: 600px;
  margin: 5rem auto;
  position: relative;
  transition: border-color 0.2s ease;
  width: 80%;
}

.search-bar-container:focus-within {
  border-color: #e5a5ff;
}

.search-input {
  flex: 1;
  width: 100%;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background: white;
  font-size: 1rem;
}

.search-button {
  width: 100%;
  padding: 0.75rem 1.5rem;
  background: #6b00b3;
  color: white;
  border: 1px solid black;
  border-radius: 0.75rem;
  transition: transform 0.1s ease, opacity 0.3s ease;
  cursor: pointer;
  position: relative;
}

@media (min-width: 768px) {
  .search-bar-container {
    flex-direction: row;
  }

  .search-button {
    width: auto;
  }
}

.search-button:active {
  transform: scale(0.95);
}

.search-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}


.button-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-text span {
  font-size: 0.875rem;
  font-weight: 600;
  white-space: nowrap;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
